@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-neutral-50/50;
}

.container {
  @apply max-w-screen-lg mx-auto px-5 xl:px-0;
}

.scrollbar::-webkit-scrollbar {
  height: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #444;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgba(255,255,255, .05);
}